
<p id="notice"><%= notice %></p>
<h1><%= @event.title %></h1>
<hr />
<p>
  <b>Starts at:</b>
  <%= @event.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @event.ends_at %>
</p>

<% if @event.all_day %>
  <p>
    <b>All day:</b>
    <%= @event.all_day %>
  </p>
<% end %>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>


<%= link_to 'Edit Event', edit_room_event_path(@room, @event) %> |
<%= link_to 'Cancel Event', room_event_path(@room, @event), method: :delete, data: {confirm: 'Do you really want to cancel this event?'} %> |
<%= link_to 'Back to Room Schedule', room_path(@room) %>

