<h1><%= @room.name %></h1>
<h4>Room Capacity: <%= @room.capacity %></h4>
<h4>Description: <%= @room.description %></h4>
<br />

<h3>Scheduled Events</h3>
<ul>
  <% @room.events.each do |event| %>
    <li>
      <%= link_to event.title, room_event_path(@room, event) %>
      <br/>
      Starts at: <%= event.starts_at %>
      <br/>
      Ends at: <%= event.ends_at %>
    </li>
    <hr />
  <% end %>
</ul>
<%= link_to 'Create Event', new_room_event_path(@room) %> |
<%= link_to 'Back to Rooms', rooms_path %>

