<<<<<<< a5d288a421f52f7c3c1fe58ad782327974aa30db
<h1><%= @room.name %></h1>
<p><%= @room.capacity %></p>
<p><%= @room.description %></p>
<br />
<%= @room.events %>
<%= link_to 'Create Event', new_room_event_path(@room) %>
=======
<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>
>>>>>>> pushing from barrie
